img {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f6f6f6;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

header a {
  display: inline-block;
  z-index: 20;
}

header .navigation {
  display: flex;
  justify-content: space-between;
}

header .navigation a {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

header .navigation .logo,
header .navigation nav a div {
  padding: 10px 20px;
  height: 100%;
}

header .navigation nav a div {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .navigation nav {
  display: flex;
  justify-content: flex-start;
}

header .navigation nav {
  font-weight: bold;
}

header .navigation .logo {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  font-size: 35px;
  font-weight: bold;
  height: 100%;
  color: #000;
  cursor: context-menu;
}

header .navigation .logo:hover {
  color: #0075f9;
  background-color: #f0f0f0;
}

header .navigation a:nth-child(1) div {
  position: relative;
  transition: 0.5s;
}

header .navigation a:nth-child(1) div::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: calc(100% + 1px);
  height: 4px;
  background-color: #3eba42;
  z-index: -2;
  transition: 0.5s;
}

header .navigation a:nth-child(1) div:hover {
  color: white;
}

header .navigation a:nth-child(1) div:hover::after {
  height: calc(100% + 1px);
}

header .navigation a:nth-child(2) div {
  position: relative;
  transition: 0.5s;
}

header .navigation a:nth-child(2) div::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: calc(100% + 1px);
  height: 4px;
  background-color: #282c34;
  z-index: -2;
  transition: 0.5s;
}

header .navigation a:nth-child(2) div:hover {
  color: #61dafb;
}

header .navigation a:nth-child(2) div:hover::after {
  height: calc(100% + 1px);
}

header .navigation a:nth-child(3) div {
  position: relative;
  transition: 0.5s;
}

header .navigation a:nth-child(3) div::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: calc(100% + 1px);
  height: 4px;
  background-color: #9000f8;
  z-index: -2;
  transition: 0.5s;
}

header .navigation a:nth-child(3) div:hover {
  color: white;
}

header .navigation a:nth-child(3) div:hover::after {
  height: calc(100% + 1px);
}

header .navigation a:last-child {
  border-right: none;
}

header .navigation a:nth-child(4) div {
  position: relative;
  transition: 0.5s;
}

header .navigation a:nth-child(4) div::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: calc(100% + 1px);
  height: 4px;
  background-color: #0075f9;
  z-index: -2;
  transition: 0.5s;
}

header .navigation a:nth-child(4) div:hover {
  color: white;
}

header .navigation a:nth-child(4) div:hover::after {
  height: calc(100% + 1px);
}

@media (max-width:768px) {
  header .logo a {
    font-size: 25px;
  }
}

@media (max-width:600px) {
  header .navigation .logo {
    display: none;
  }

  header nav {
    width: 100%;
  }

  header nav a {
    width: 25%;
  }
}
