button{
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  padding-top:10px;
  border-top: 3px solid #0075f950;
}

.buttons span {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #0075f9;
  color: white;
}

.likeBtn,
.unlikeBtn {
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  outline: none;
  background: none;
  font-size: 16px;
  font-weight: 900;
}

.likeBtn {
  color:#66666690;
}

.likeBtn i {
  color: #666;
  font-size: 25px;
}

.unlikeBtn {
  color: #0075f990;
}

.unlikeBtn i {
  color: #0075f9;
  font-size: 25px;
}

.artist {

}

.artist-name {
  display: inline-block;
  padding: 10px;
  background-color: #e0e0e0;
  color: #9000f8;
  font-weight: 900;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
}

.artist-name i {
  display: inline-block;
  position: absolute;
  bottom: calc(100% - 10px);
  right: -10px;
  color: black;
  font-size: 22px;
  color: #9000f8;
}

.artist-rating {
  color: #000;
  position: absolute;
  display: inline-block;
  bottom: calc(100% - 14px);
  font-size: 20px;
  left: calc(100% + 15px);
  color: #9000f8;
}
