.cssload-container * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}
.cssload-container {
	margin: 48px auto 0 auto;
	max-width: 1328px;
}

.cssload-container ul li{
	list-style: none;
}

.cssload-flex-container {
	display: flex;
		display: -o-flex;
		display: -ms-flex;
		display: -webkit-flex;
		display: -moz-flex;
	flex-direction: row;
		-o-flex-direction: row;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		-moz-flex-direction: row;
	flex-wrap: wrap;
		-o-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
	justify-content: space-around;
}
.cssload-flex-container li {
	padding: 24px;
	height: 238px;
	width: 238px;
	margin: 71px 48px;
	position: relative;
	text-align: center;
}

.cssload-loading, .cssload-loading:after, .cssload-loading:before {
	display: inline-block;
	position: relative;
	width: 12px;
	height: 119px;
	background: #3eba42;
	margin-top: 12px;
	border-radius: 2375px;
		-o-border-radius: 2375px;
		-ms-border-radius: 2375px;
		-webkit-border-radius: 2375px;
		-moz-border-radius: 2375px;
	animation: cssload-upDown2 1.15s ease infinite;
		-o-animation: cssload-upDown2 1.15s ease infinite;
		-ms-animation: cssload-upDown2 1.15s ease infinite;
		-webkit-animation: cssload-upDown2 1.15s ease infinite;
		-moz-animation: cssload-upDown2 1.15s ease infinite;
	animation-direction: alternate;
		-o-animation-direction: alternate;
		-ms-animation-direction: alternate;
		-webkit-animation-direction: alternate;
		-moz-animation-direction: alternate;
	animation-delay: 0.29s;
		-o-animation-delay: 0.29s;
		-ms-animation-delay: 0.29s;
		-webkit-animation-delay: 0.29s;
		-moz-animation-delay: 0.29s;
}
.cssload-loading:after, .cssload-loading:before {
	position: absolute;
	content: '';
	animation: cssload-upDown 1.15s ease infinite;
		-o-animation: cssload-upDown 1.15s ease infinite;
		-ms-animation: cssload-upDown 1.15s ease infinite;
		-webkit-animation: cssload-upDown 1.15s ease infinite;
		-moz-animation: cssload-upDown 1.15s ease infinite;
	animation-direction: alternate;
		-o-animation-direction: alternate;
		-ms-animation-direction: alternate;
		-webkit-animation-direction: alternate;
		-moz-animation-direction: alternate;
}
.cssload-loading:before {
	left: -24px;
}
.cssload-loading:after {
	left: 24px;
	animation-delay: 0.58s;
		-o-animation-delay: 0.58s;
		-ms-animation-delay: 0.58s;
		-webkit-animation-delay: 0.58s;
		-moz-animation-delay: 0.58s;
}




@keyframes cssload-upDown {
	from {
		transform: translateY(48px);
	}
	to {
		transform: translateY(-48px);
	}
}

@-o-keyframes cssload-upDown {
	from {
		-o-transform: translateY(48px);
	}
	to {
		-o-transform: translateY(-48px);
	}
}

@-ms-keyframes cssload-upDown {
	from {
		-ms-transform: translateY(48px);
	}
	to {
		-ms-transform: translateY(-48px);
	}
}

@-webkit-keyframes cssload-upDown {
	from {
		-webkit-transform: translateY(48px);
	}
	to {
		-webkit-transform: translateY(-48px);
	}
}

@-moz-keyframes cssload-upDown {
	from {
		-moz-transform: translateY(48px);
	}
	to {
		-moz-transform: translateY(-48px);
	}
}

@keyframes cssload-upDown2 {
	from {
		transform: translateY(71px);
	}
	to {
		transform: translateY(-48px);
	}
}

@-o-keyframes cssload-upDown2 {
	from {
		-o-transform: translateY(71px);
	}
	to {
		-o-transform: translateY(-48px);
	}
}

@-ms-keyframes cssload-upDown2 {
	from {
		-ms-transform: translateY(71px);
	}
	to {
		-ms-transform: translateY(-48px);
	}
}

@-webkit-keyframes cssload-upDown2 {
	from {
		-webkit-transform: translateY(71px);
	}
	to {
		-webkit-transform: translateY(-48px);
	}
}

@-moz-keyframes cssload-upDown2 {
	from {
		-moz-transform: translateY(71px);
	}
	to {
		-moz-transform: translateY(-48px);
	}
}
