.drawing {
  margin: 20px;
  width: 40%;
  padding: 25px;
  background-color: #f6f6f6;
  padding-bottom: 185px;
  position: relative;
  transition: 0.5s;
}

.drawing:hover {
  box-shadow: 0px 3px 15px -2px #0075f990;
}

.drawing .drawing-photo {
  height: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.drawing .drawing-photo img {
  max-width: 100%;
}

.drawing .drawing-info {
  position: absolute;
  bottom: 15px;
  width: calc(100% - 50px);
}

.drawing .title {
  font-size: 22px;
  font-weight: 700;
  color: #666;
}

.drawing .category {
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 0;
  color: #3eba42;
}

@media (max-width:768px) {
  .drawing {
    width: 100%;
  }
}
